<%- include('layouts/header') %>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <h1 style="text-align: center;">Bienvenue <%= user ? user.name : "Visiteur" %> !</h1>
      <br>
      <% if (posts && posts.length > 0) { %>
        <% posts.forEach(post => { %>
          <div class="post-preview">
            <a href="/blog/posts/<%= post.slug || post._id %>">
              <h2 class="post-title"><%= post.title %></h2>
              <% if (post.subtitle) { %>
                <h3 class="post-subtitle"><%= post.subtitle %></h3>
              <% } %>
            </a>
            <p class="post-meta">
              Posté par
              <a href="#!"><%= post.author %></a>
              le
              <%= new Date(post.date).toLocaleDateString('fr-FR') %>
              à
              <%= new Date(post.date).toLocaleTimeString('fr-FR', { hour: '2-digit', minute: '2-digit' }) %>
            </p>
          </div>
          <!-- Divider-->
          <hr class="my-4" />
        <% }) %>
      <% } else { %>
        <p>Aucun post à afficher.</p>
      <% } %>
    </div>
  </div>
</div>
<%- include('layouts/footer') %>